body {
	background-image: url(https://images.unsplash.com/photo-1483982258113-b72862e6cff6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
	/*change to a cool background*/
  background-size: cover;
  background-repeat: no-repeat;
}


.hidden {
  display: none;
}

.enemy-row {
	padding-bottom: 50px; /*needed this or the enemy card touches the hero card, looked weird*/
}

.enemy-card {
	width: 18rem; /*relative to the enemy row*/
	margin: 0 auto; 
	float: none;
}


.enemy-img, .hero-img { /*making it the background image so it doesn't change the size of the card*/
	height: 270px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.attack-img {
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.alert-area {
	overflow-y:scroll;
  overflow-x: hidden;
	height:400px;
}

.bar-card {
	margin-bottom: 20px;
}

.weapon-card, .hero-card{
  height: 338px;
}

..heavy-attack-container {
  height: 170;
}

.enemy-card.attacking {
	z-index: 1000;
	animation: enemyAttack linear 1s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
}

.hero-card.attacking{
  animation: heroAttack linear 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
}

@keyframes heroAttack{
  0% {
    transform:  translate(0px,0px)  ;
  }
  7% {
    transform:  translate(-10px,0px)  ;
  }
  14% {
    transform:  translate(10px,0px)  ;
  }
  21% {
    transform:  translate(-10px,0px)  ;
  }
  28% {
    transform:  translate(10px,0px)  ;
  }
  35% {
    transform:  translate(0px,0px)  ;
  }
  42% {
    transform:  translate(0px,-78px)  ;
  }
  60% {
    transform:  translate(0px,0px)  ;
  }
  70% {
    transform:  translate(-11px,0px)  ;
  }
  80% {
  transform:  translate(13px,0px)  ;
  }
  90% {
    transform:  translate(-13px,0px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}


@keyframes enemyAttack{
  0% {
    transform:  translate(0px,0px)  ;
  }
  8% {
    transform:  translate(-10px,0px)  ;
  }
  16% {
    transform:  translate(10px,0px)  ;
  }
  24% {
    transform:  translate(-10px,0px)  ;
  }
  32% {
    transform:  translate(10px,0px)  ;
  }
  40% {
    transform:  translate(-10px,0px)  ;
  }
  48% {
    transform:  translate(10px,0px)  ;
  }
  56% {
    transform:  translate(-10px,0px)  ;
  }
  64% {
    transform:  translate(0px,0px)  ;
  }
  74% {
    transform:  translate(0px,100px)  ;
  }
  100% {
    transform:  translate(0px,0px)  ;
  }
}