body {
	background-color: #472e82;
}

.enemy-row {
	padding-bottom: 50px; 
}

.enemy-card {
	width: 18rem; 
	margin: 0 auto; 
	float: none;
}

.weapon-card {

}

.enemy-img, .hero-img{
	height: 270px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

